/**/

.layout {
    @include grid-row;

    header.main {}

    .editor {
        @include grid-row;

        .markdown {
            @include grid-column(6);
            min-height: 80vh;
            background-color: #ccc;
        }
        .preview {
            @include grid-column(6);
            min-height: 80vh;
            background-color: #e6e6e6;
        }
    }

    footer.main {}
}
