/*
 * TDit Layout
 */

$main-header-height: 55px;
$main-footer-height: 55px;

.layout {

    header.main {
        width: 100%;
        height: $main-header-height;
    }

    .editor {
        width: 100%;
        height: calc(100vh - #{$main-header-height + $main-footer-height});

        .markdown {
            width: 50%;
            height: 100%;
            float: left;
        }

        .preview {
            width: 50%;
            height: 100%;
            float: left;
        }
    }

    footer.main {
        height: $main-footer-height;
    }
}
