/*
 * Monod Layout
 */

/* -- variables -- */
$main-header-height: 70px;
$main-footer-height: 35px;
$vertical-handler-width: 40px;

/* -- mixins -- */
@function header-height($breakpoint){
  @if $breakpoint == small {
    @return $main-header-height * 1.3;
  }
  @return $main-header-height;
};

@function footer-height($breakpoint){
  @if $breakpoint == small {
    @return $main-footer-height * .9;
  }
  @return $main-footer-height;
};

@function editor-height($breakpoint){
  $header-footer-height: header-height($breakpoint) + footer-height($breakpoint);

  @return calc(100vh - #{$header-footer-height});
};

@mixin fullscreen {
  height: 100vh;
  width: 100vw;
  background-color: $alabaster;

  .reveal {

    .controls {
      bottom: 10px !important;
    }

    .slide-number {
      bottom: 8px !important;
    }
  }
}

/* -- styles -- */
:-webkit-full-screen {
  @include fullscreen;
}

:-webkit-full-screen {
  @include fullscreen;
}

:-moz-full-screen {
  @include fullscreen;
}

:-ms-fullscreen {
  @include fullscreen;
}

:full-screen {
  @include fullscreen;
}

:fullscreen {
  @include fullscreen;
}

.layout {
  display: flex;
  flex-direction: column;

  header.main {
    height: header-height(small);

    @include breakpoint(medium) {
      height: header-height(medium);
    }
  }

  .loader {
    height: editor-height(small);

    @include breakpoint(medium) {
      height: editor-height(medium);
    }
  }

  .editor {
    display: flex;
    width: 100%;
    height: editor-height(small);

    @include breakpoint(medium) {
      height: editor-height(medium);
    }

    .markdown {
      width: calc(100% - #{$vertical-handler-width / 2});
      height: 100%;
      flex: 1 1 auto;

      @include breakpoint(medium) {
        width: calc(50% - #{$vertical-handler-width / 2});
      }
    }

    .vertical-handler {
      width: $vertical-handler-width;
    }

    .preview {
      width: 0;
      height: 100%;
      flex: 1 1 auto;

      @include breakpoint(medium) {
        width: calc(50% - #{$vertical-handler-width / 2});
      }
    }

    &.focus {
      @include breakpoint(medium) {
        .markdown {}

        .vertical-handler {
          width: $vertical-handler-width / 2;

          .right {
            display: none;
          }
        }

        .preview {
          display: none;
        }
      }
    }

    &.edit-preview {
      @include breakpoint(medium) {
        .markdown {
          display: block;
        }

        .preview {
          display: block;
        }
      }
    }

    &.reading {
      @include breakpoint(medium) {
        .markdown {
          display: none;
        }

        .vertical-handler {
          width: $vertical-handler-width / 2;

          .left {
            display: none;
          }
        }

        .preview {}
      }
    }
  }

  footer.main {
    height: footer-height(small);

    @include breakpoint(medium) {
      height: footer-height(medium);
    }
  }
}
