/* -- Monod print styles -- */
@media print {

    @page {
        size: 'A4';
        margin: 3cm 2cm !important;
    }

    // Page breaks
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        page-break-after: avoid;
    }

    tr,
    blockquote,
    img,
    table,
    figure {
        page-break-inside: avoid;
    }

    // Hide unwanted elements
    header.main,
    form#templateForm,
    div.markdown,
    div.vertical-handler,
    footer.main {
        display: none;
    }

    // Force preview max width/height
    .layout {
        display: block !important;

        .editor {
            height: 100% !important;
            display: block !important;

            .preview {
                width: 100% !important;
                overflow: visible;

                .rendered {
                    padding: 0;
                }
            }
        }
    }

    // Override styles
    a {
        border: 0 !important;
        text-decoration: none !important;

        &:link:after,
        &:visited:after {
            content: "" !important;
        }
    }

    pre, blockquote {
        border: 0;
        border-left: 3px solid $silver;
        margin-bottom: 11pt !important;

        & > * {
            color: $emperor !important;
        }
    }

    blockquote {
        font-style: italic;
    }

    pre {
        font-size: 10pt;

        & > code {
            margin: 0 !important;
            background: transparent !important;
            white-space: pre-wrap;
        }
    }

    p,
    li {
        font-size: 11pt !important;
    }

    span {
        &.emojione {
            transform: scale(0.2, 0.2) !important;
            margin: -20px !important;
        }
    }
}
