/* -- Monod print styles -- */
@media print {

    @page {
        size: A4;
        margin: 2cm 1cm !important;

        @top-left {
            padding-top: 1cm;
            content: "Monod - The Markdown Editor by TailorDev";
        }

        @bottom-right {
            padding-top: 0;
            content: "Page " counter(page) "/" counter(pages);
        }
    }

    // Page breaks
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    tr,
    blockquote,
    img {
        page-break-inside: avoid;
    }

    // Hide unwanted elements
    header.main,
    form#templateForm,
    div.markdown,
    div.vertical-handler,
    footer.main {
        display: none;
    }

    // Force preview max width/height
    .editor {
        height: 100% !important;

        .preview {
            width: 100% !important;

            p {
                font-size: 1rem !important;
            }
        }
    }
}
