/* -- colors -- */
$td-green: #1abc9c;
$td-blue: #2e354f;
$alto: #dcdcdc;
$mercury: #e9e9e9;
$alabaster: #f9f9f9;
$silver: #ccc;
$mine-shaft: #3f3f3f;
$emperor: #555;
$gray: #888;

/* -- Foundation overridden settings -- */

// Colors
$foundation-palette: (
  primary: $td-green,
  secondary: $mercury,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840
);

// Global
$global-radius: 5px;
$global-rounded: 1000px;

// Fonts
$common-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$body-font-family: 'LatoLatinLight', $common-font-family;
$header-font-family: 'LatoLatin', $common-font-family;
$callout-font-family: $header-font-family;

// Typography
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$code-border: 0;
$code-padding: 0;
$print-transparent-backgrounds: false;

// Callout
$callout-radius: 0;
$callout-margin: 0;
$callout-background-fade: 20%;
$callout-font-color: $alabaster;
$callout-border: 0 none none;

/* -- Monod settings -- */
$footer-font-family: 'LatoLatin', $common-font-family;
$footer-font-size: 0.8rem;
