@charset 'utf-8';

// Overridde foundation settings
@import 'settings';

/* -- Foundation stuffs -- */
@import '~foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-table;
@include foundation-callout;
@include foundation-close-button;
@include foundation-button;
@include foundation-button-group;

/* -- FontAwesome -- */
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

/* -- Monod styles -- */

// Application layout
@import 'layout';
@import 'fonts';

// Components
@import 'components/header';
@import 'components/toolbar';
@import 'components/template_form';
@import 'components/editor';
@import 'components/markdown';
@import 'components/codemirror_theme';
@import 'components/vertical_handler';
@import 'components/preview';
@import 'components/footer';
@import 'components/sync';
@import 'components/message_box';
@import 'components/share_modal';

// Utils
@import 'utils/tooltips';

// Misc
@import 'print';
