{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "yoda": [1, "always"],
    "comma-dangle": 0,
    "react/jsx-no-bind": [2, {
      'ignoreRefs': true,
      'allowArrowFunctions': true,
      'allowBind': true,
    }],
    "arrow-body-style": 0,
    "new-cap": 1,
    "react/no-multi-comp": 1,
    "object-shorthand": 1,
    "import/no-extraneous-dependencies": [2, {
      'optionalDependencies': false,
    }],
    "no-underscore-dangle": 0,
  }
}
