/*
 * Header component
 */

header.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: $primary-color;

  h1 {
    flex-grow: 1;
    padding: 0 1rem;
    color: $white;

    small {
      color: darken($primary-color, 10%);
    }
  }
}
