/*
 * Markdown component
 */

.markdown {

    .ReactCodeMirror {
        width: 100%;
        height: inherit;

        .CodeMirror {
            height: inherit;
            background-color: lighten($secondary-color, 5%);
            font-size: 1.2rem;
        }
    }
}
