/*
 * MessageBox component
 */
$message-box-height: 65px;

.message-box {
    @include callout;
    position: fixed;
    width: 100%;
    z-index: 10000;
    font-size: 1.2rem;
    font-family: $callout-font-family;
    height: $message-box-height;

    // We support up to 10 simultaneous notifications
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            margin-top: #{($i - 2) * $message-box-height};
        }
    }

    &.warning {
        @include callout-style($warning-color);
        color: darken($warning-color, 15%);
        border-bottom: 3px solid $warning-color;
    }

    &.error {
        @include callout-style($alert-color);
        border-bottom: 3px solid $alert-color;
    }

    &.success {
        @include callout-style($success-color);
        border-bottom: 3px solid $success-color;
    }

    &.info {
        @include callout-style(lighten($primary-color, 5%));
        border-bottom: 3px solid $primary-color;
    }
}
