/*
 * Preview component
 */

.preview {

    .rendered {
        height: inherit;
        overflow-y: scroll;
        padding: 1rem 2rem;
        font-size: 1.2rem;

        a {
            border-bottom: 1px solid lighten($primary-color, 40%);
        }

        code {
            padding: 0.2rem;
            background: transparent;
        }

        img {

            &:not(.emojione) {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        kbd {
            padding: 0.1em 0.6em;
            border: 1px solid #ccc;
            font-size: 1.5rem;
            background-color: #f7f7f7;
            color: #333;
            box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
            border-radius: 3px;
            margin: 0 0.1em;
            text-shadow: 0 1px 0 #fff;
            display: inline-block;
            vertical-align: middle;
            line-height: 2rem;
        }

        mark {
            padding: 0 0.2rem;
            background: $yellow-mark;
        }

        ins {
            padding: 0 0.2rem;
            text-decoration: none;
            background-color: #d4fcbc;
        }

        p {
            text-align: justify;
        }

        pre {
            max-width: 100%;

            & > code {
                display: block;
                overflow: scroll;
                margin: 1rem 0;
                padding: 1rem;
                color: $alto;
                background: $mine-shaft;
            }
        }

        blockquote {
            padding-top: 0;
            border-left-width: 3px;
        }

        .emojione {
         transform: scale(0.5, 0.5);
         margin: -15px;
        }


        .fa {
            margin-right: 0.5rem;
        }

        .katex {
            white-space: normal;
            font-size: 1rem;
            line-height: 3rem;
        }

        .preview-loader {
            text-align: center;
            margin-top: 20vh;
            font-size: 1.6rem;
            color: $silver;

            p {
                text-align: center !important;
            }

            i {
                font-size: 2.5rem;
                margin-top: 1.6rem;
            }
        }

        .reveal {

            h2,
            h3,
            h4 {
                margin-bottom: 3rem;
            }

          .logo {
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 30;
          }

          p {
                text-align: inherit!important;

                &.justify {
                    text-align: justify!important;
                }

                &.left {
                    text-align: left!important;
                }

                &.right {
                    text-align: right!important;
                }
            }

            img {
                display: inline-block;
            }

            .katex {
                font-size: inherit;
            }

            .controls {
                bottom: 40px;
            }

            .slide-number {
                bottom: 43px;
            }
        }

        .task-list {
            list-style-type: none;

            input[type=checkbox] {
                margin: 0;
            }
        }

        span > .task-list {
            margin-left: 0;
        }

        .citation {
          font-size: 90%;
          text-align: justify;
        }

        .invalid-ref {
          color: $warning-color;
        }
    }
}
