/*
 * Preview component
 */

.preview {

    .rendered {
        height: inherit;
        overflow-y: scroll;
        padding: 1rem 2rem;
        font-size: 1.2rem;

        p {
            text-align: justify;
        }

        a {
            border-bottom: 1px solid lighten($primary-color, 40%);
        }

        img:not(.emoji) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        pre {
            max-width: 100%;

            & > code {
                display: block;
                overflow: scroll;
                margin: 1rem 0;
                padding: 1rem;
                color: $alto;
                background: $mine-shaft;
            }
        }

        .preview-loader {
            text-align: center;
            margin-top: 20vh;
            font-size: 1.6rem;
            color: $silver;

            p {
                text-align: center !important;
            }

            i {
                font-size: 2.5rem;
                margin-top: 1.6rem;
            }
        }
      }

    .emoji {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        margin-bottom: 0.2em;
        background-size: contain;
    }
}
