/*
 * Sync component
 */

.sync {

  .is-offline {
    color: map-get($foundation-palette, warning) !important;
  }

  .is-online {
    color: $td-green !important;
  }

  button {
    @include button();
    font-size: 0.6rem;
  }
}
