/*
 * Toolbar component
 */

#toolbar {
  text-align: right;
  padding: 0 1rem;

  @include breakpoint(medium) {
    padding: 1rem;
  }

  & > * {
    display: inline-block;
    padding-right: 0.5rem;

    &:not(:first-child) {
      padding-left: 0.5rem;
    }
  }
}
