/*
 * Vertical Handler component
 */

.vertical-handler {
    background-color: $mercury;
    height: 100%;
    display: flex;

    .left,
    .right {
        width: 20px;
        height: 100%;
        cursor: pointer;

        &:hover {
            background-color: rgba($td-blue, 0.8);
        }
    }
}